<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="UnitStation" id="unitStation">
        <property name="message" ref="message"/>
    </bean>
    <bean class ="UnitStation" id = "message"></bean>
    <bean class="MobileDisplay" id="mobileDisplay"></bean>
    <bean class = "Starter" id="start"></bean>
    <bean id="observersLocal" class="UnitStation">
        <property name="message" ref="unitStation"/>
    </bean>
    <bean id="msg" class="UnitStation">
        <property name="message" ref="message"/>
    </bean>
</beans>